body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  position: relative;
  /* background: #212529; */
}

/* theme header */
#theme-header {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  position: absolute;
  top: 0px;
  height: 5%;
  width: 100%;
  transition: transform 1s ease-out; 
  /* background: #2c3136; */
}

  .theme-button {
    border: none;
    padding: 0;
    width: 5%;
    height: 75%;
    margin-left: 1.5em;
    display: flex;
    align-items: end;
  }

  .theme-button-accent {
    height: 50%;
    width: 100%;
  }

  #themes-menu-button {
    width: 10%;
    height: 70%;
    bottom: -60%;
    position: absolute;
    border: 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom-right-radius: 10px;
  }


  .show-themes-header {
    transform: translateY(0%);
  }

  .hide-themes-header {
    transform: translateY(-100%);
  }


/* error-and-calculator-div */
#error-and-calculator-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
}

/* error div */
#error-div {
  width: auto;
  height: min-content;
  border-radius: 3px;
  margin-bottom: -20px;
}

  #error-text{
   margin: 0; 
   padding: 1em 1.25em;
  }

#error-div-placeholder { 
  height: 33px; /* occupies the same amount of space as the error div. prevents movement on error message.*/
}

/* calculator div */
#calculator-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 500px;
  border-radius: 1%;
  padding: 3em 2em 3em 2em;
  box-shadow: 0px 0.25em #191c1f;
  margin-top: 3em;
  position: relative;
  /* background: #2c3136; */
}

  #display-div {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 15%;
    border-radius: 0.5%;
    box-shadow: 0px 0.25em #191c1f;
    position: relative;
    /* background: #495057; */
  }

    #display-text {
      color: lightgrey;
      font-size: 2.5rem;
      font-family: inherit;
      text-align: end;
      margin: 0;
      letter-spacing: 0.025em;
      overflow-x: auto;
      white-space: nowrap;
    }

  #clear-and-ce-div {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0 0.5em;
    grid-template-areas: 
      "A A B C D";  
    width: 100%;
    height: 7.5%;
    margin-top: 1.5em;
  }

    #clear-button {
      grid-area: A;
      border: none;
      height: 100%;
      width: 100%;
      font-weight: bold;
      font-family: inherit;
      color: #e9ecef;
      box-shadow: 0px 0.25em #455263;
      /* background: #627691; */
    }

    #ce-button {
      grid-area: D;
      color: lightgrey;
      border: none;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0.25em #81390f;
      font-weight: bold;
      font-family: inherit;
      /* background: #FF5E00; */
    }


/* keypad component */
#keypad-div {
  width: 100%;
  height: 70%;
  display: grid;
  grid-gap: 0 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "squared nthPower percent openBracket closeBracket" 
  "seven eight nine divide squareRoot"
  "four five six multiply cubeRoot"
  "one two three add equals"
  "zero zero decimal subtract equals";
  margin-bottom: -1.5em;
}

  .keypad-btn { 
    height: 70%;
    border: none;
    border-radius: 2%;
    box-shadow: 0px 0.25em #191c1f;
    margin: 0;
    color: #e9ecef;
    font-family: inherit;
    font-size: 1rem;
    /* background: #495057; */
  }

  .keypad-btn:disabled {
    background: inherit;
    opacity: 50%;
  }

    #key-zero {
      grid-area: zero;
    }

    #key-one {
      grid-area: one;
    }

    #key-two {
      grid-area: two;
    }
    
    #key-three {
      grid-area: three;
    }

    #key-four {
      grid-area: four;
    }

    #key-five {
      grid-area: five;
    }
    
    #key-six {
      grid-area: six;
    }

    #key-seven {
      grid-area: seven;
    }

    #key-eight {
      grid-area: eight;
    }

    #key-nine {
      grid-area: nine;
    }

    #key-equals {
      grid-area: equals;
    }

    #key-divide {
      grid-area: divide;
    }

    #key-multiply {
      grid-area: multiply;
    }

    #key-add {
      grid-area: add;
    }

    #key-subtract {
      grid-area: subtract;
    }

    #key-percent {
      grid-area: percent;
    }

    #key-openBracket {
      grid-area: openBracket; 
    }

    #key-closeBracket {
      grid-area: closeBracket;
    }
  
    #key-decimal {
      grid-area: decimal;
    }

    #key-squareRoot {
      grid-area: squareRoot;
    }

    #key-cubeRoot {
      grid-area: cubeRoot;
    }

    #key-nthPower {
      grid-area: nthPower;
    }

    #key-equals {
      grid-area: equals;
      height: 85%;
    }

    #key-squared {
      grid-area: squared;
    }

    #key-savedAnswer {
      grid-area: savedAnswer;
    }
  